data/
.DS_Store
/known_SNPs/known_SNPs_analysis_revised/additive_model/result
/known_SNPs/known_SNPs_analysis_G_revised/additive_model/result
.Rproj.user
/known_SNPs/known_SNPs_analysis_G_revised/intrinsic_subtypes/result
/known_SNPs/known_SNPs_analysis_G_revised/intrinsic_subtypes_pc_additive/result
/stractch/*.csv
/known_SNPs/known_SNPs_analysis_revised/intrinsic_subtypes_pc_additive/result
