/risk_prediction/Nasim_prs/result
/discovery_SNP/get_imputation_score/result
/multi_ethnic/Hapgen2_test/
/multi_ethnic/literature_review/
/multi_ethnic/result
/known_SNPs/known_SNPs_analysis_G_revised/tumor_correlation/result
/heritability/result
/prognosis_score/result
/plot_support
/risk_prediction/LD_clumping/result
/risk_prediction/EB_whole_genome/result
/risk_prediction/standard_whole_genome/ONCO/result
/risk_prediction/standard_whole_genome/ICOG/result
/discovery_SNP/basic_information/result
/discovery_SNP/conditional_analysis_check_LD/result
/risk_prediction/FTOP_whole_genome/ONCO/result
/risk_prediction/FTOP_whole_genome/ICOG/result
/discovery_SNP/enrichment_analysis/literature_review/
/risk_prediction/literature_reivew/
/risk_prediction/result/
/discovery_SNP/enrichment_analysis/result
/discovery_SNP/functional_analysis/result
/discovery_SNP/CIMBA_BCAC_meta_analysis/result/*
/discovery_SNP/CIMBA_conditional_analysis/result/*
/simulation/power/result
**/Icon\r
/simulation/EM_algorithm_evaluation/result
risk_factor/result
poland/result
data/
.DS_Store
/discovery_SNP/conditional_analysis_novel/result
/known_SNPs/known_SNPs_analysis_revised/additive_model/result
/known_SNPs/known_SNPs_analysis_G_revised/additive_model/result
.Rproj.user
/known_SNPs/known_SNPs_analysis_G_revised/intrinsic_subtypes/result
/known_SNPs/known_SNPs_analysis_G_revised/intrinsic_subtypes_pc_additive/result
/stractch/*.csv
/known_SNPs/known_SNPs_analysis_revised/intrinsic_subtypes_pc_additive/result
/whole_genome/ICOG/ERPRHER2GRADE_fixed_baseline/result/*
/whole_genome/ICOG/ERPRHER2_fixed/result/*
/whole_genome/ICOG/ERPRHER2GRADE_fixed_baseline/result/*
/whole_genome/ONCO/ERPRHER2GRADE_fixed_baseline/result/*
/whole_genome/ONCO/ERPRHER2_fixed/result/*
/whole_genome/ONCO/ERPRHER2GRADE_fixed_baseline/result/*
/stractch/result/*
/discovery_SNP/tp53/result
/meeting_presentation/
/known_SNPs/known_SNPs_analysis_G_revised/ERPosvesNeg/result/
/whole_genome_age/ICOG/ERPRHER2GRADE_fixed_baseline/result/*
/whole_genome_age/ICOG/ERPRHER2_fixed/result/*
/whole_genome_age/ICOG/ERPRHER2GRADE_fixed_baseline/result/*
/whole_genome_age/ONCO/ERPRHER2GRADE_fixed_baseline/result/*
/whole_genome_age/ONCO/ERPRHER2_fixed/result/*
/whole_genome_age/ONCO/ERPRHER2GRADE_fixed_baseline/result/*
/whole_genome/ICOG/ERPRHER2GRADE_casecase/result/
/known_SNPs/G_onemle/additive/result
/whole_genome_age/ICOG/ERPRHER2GRADE_casecase/result/
/breast_cancer_paper_writing
/breast_cancer_data_analysis/discovery_SNP/result
/core_results_summary/
/discovery_SNP/result/
/discovery_SNP/conditional_analysis/result
/discovery_SNP/additive_model/result/
/simulation/type_one_error/result
/Icon?
/known_SNPs/cluster_analysis/result/
/known_SNPs/known_SNPs_analysis_G_revised/additive_model_third_order/result/
/discovery_SNP/sensitivity_analysis/result
/discovery_SNP/main_plot/result
/discovery_SNP/main_plot
/genetic_correlation/result
/known_SNPs/known_SNPs_analysis_G_revised/ERNegwithcasecase/result
/genetic_correlation/ICOG/result
/genetic_correlation/ONCO/result
/known_SNPs/known_SNPs_analysis_G_revised/age_interaction/result
/whole_genome_age/ICOG/intrinsic_subtypes/result
/whole_genome_age/ONCO/intrinsic_subtypes/result
/genetic_correlation/standard_analysis/result
/risk_prediction/standard_analysis/result
/risk_prediction/two_stage_model/result
/risk_prediction/mix_two_standard/result
/whole_genome_age/ICOG/intrinsic_subtypes/Icon\r
/whole_genome_age/ICOG/intrinsic_subtypes/code/Icon\r
/whole_genome_age/ONCO/intrinsic_subtypes/Icon\r
/whole_genome_age/ONCO/intrinsic_subtypes/code/Icon\r
/risk_prediction/compare_models/result
/discovery_SNP/Julie_results/
~/.boxr-oauth
